<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <!-- GMAPPING -->
    <node pkg="gmapping" type="slam_gmapping" name="GMAP" args="-d scan:=scan">
        <param name="delta" value="0.5" />
        <param name="odom_frame" value="odom" />
    </node>


    <node pkg="autonomous_exploration" type="frontier_lidar.py" name="Detect_frontier">
        <remap from="/map" to="/projected_map"/>
    </node>





    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find autonomous_exploration)/config/turtlebot3.yaml" />
    <!-- Launch the training system -->
    <node pkg="autonomous_exploration" name="turtlebot3_world" type="start_qlearning.py" output="screen"/>
</launch>
 