<?xml version="1.0" encoding="utf-8"?>
<launch>

    <arg name="xmin" default="-25.0"/>
    <arg name="ymin" default="-25.0"/>
    <arg name="xmax" default="25.0"/>
    <arg name="ymax" default="25.0"/>
    <arg name="delta" default="0.5"/>
    <arg name="odom_frame" default="world"/>


    <!-- Transforms -->
    <node pkg="tf"
        type="static_transform_publisher"
        name="link1_broadcaster"
        args="-20 -20 0 0 0 0 world odom 100" />

    <!-- GMAPPING -->
    <node pkg="gmapping" type="slam_gmapping" name="GMAP" args="-d scan:=base_scan">
        <param name="xmin" value="$(arg xmin)"/>
        <param name="ymin" value="$(arg ymin)"/>
        <param name="xmax" value="$(arg xmax)"/>
        <param name="ymax" value="$(arg ymax)"/>
        <param name="delta" value="$(arg delta)" />
        <param name="odom_frame" value="$(arg odom_frame)" />
        <param name="map_update_interval" value="0.5"/>
    </node>

    <!-- Frontier Detect -->
    <node pkg="autonomous_exploration" type="frontier_lidar.py" name="Detect_frontier" output="screen">
    </node>

</launch>


<!-- roslaunch autonomous_exploration gmapping.launch xmin:=-25.0 ymin:=-25.0 xmax:=25.0 ymax:=25.0 delta:=0.1 odom_fram:=world -->